body {
  font-family: sans-serif;
  background-color: white;
  color: black;
}

h1 {
  color: rgb(247, 0, 239);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1em;
}
th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}
th {
  background-color: #f2f2f2;
}
.stars {
  color: gold;
  font-size: 1.2em;
  cursor: pointer;
  user-select: none;
}
